.imageContainer {
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  border-radius: 0.75rem;
  position: relative;
}

.image {
  object-fit: cover;
  width: 100%;
}

.heartButton {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}
