.container {
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.button {
  width: 12rem;
  margin-top: 1rem;
}
