.container {
  position: relative;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.outline {
  fill: #fff;
  position: absolute;
  top: -2px;
  right: -2px;
}

.favorited {
  fill: #f43f5e;
}

.unfavorited {
  fill: rgb(115 115 115 / 0.7);
}

@media (hover: hover) {
  .container:hover {
    opacity: 0.8;
  }
}
