.bodyContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.categoryInputs {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.75rem;
  max-height: 50vh;
  overflow-y: auto;
}

.categoryInput {
  grid-column: span 1 / span 1;
}

@media (min-width: 768px) {
  .categoryInputs {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
